			.navbar {
        	margin-top: 5px;
			margin-bottom:0px;
      		}
			div{
			font-family:幼圆;
			font-weight:600;
			font-size:100%;
			}
			a
			{
				color:#FFFFFF;
			}
			td
			{
    			text-align:middle;
				padding-top:5px;
				padding-bottom:10px;
				padding-left:5px;
				padding-right:5px;
			}
			#table0
			{
				margin-bottom:15px;
				margin-top:25px;
				margin-left:35px;
				outline: #FFFFFF solid 5px;
				background: #FFFFFF;
				color:#333366;
			}
			#row1
			{
				background-color: #0066CC;
			}
			#row2col1
			{
				background-color: #333366;
			}
			.row{
				margin-left:0;
				margin-right:0;

			}
			li
			{
				padding-top:10px;
				padding-bottom:10px;
				margin-bottom:5px;
				margin-top:0px;
			}